.err{
   color: red;
 
}
.marg{
margin-left: 600px;
margin-top: 100px;
border: 2px;
border-color: black;
font-family: cursive;
font-size: 20px;
font-style: normal
}
.width{
    width: 30%;
    height: 35px;
}
.butt{
    margin-top: 10px;
    width: 30%;
    height: 50px;
    background-color: darkcyan
    
}