<!--The content below is only a placeholder and can be replaced.-->


<!-- <form [formGroup]="registrationForm">
  <label>Username</label><br>
  <input type="text" formControlName="userName" ><br>
  <div *ngIf="userName.invalid && userName.touched" class="err"> 
   <p *ngIf="userName.errors?.required" class="err">Invalid Username</p> 
   <p *ngIf="userName.errors?.minlength" class="err">Username must consist of atleast 5 characters</p> 
  </div>  
  <label>Password</label><br>
  <input type="password" formControlName="password" ><br>
  <label>Confirm Password</label><br>
  <input type="password" formControlName="confirmPassword"><br>
  <div *ngIf="registrationForm.invalid && registrationForm.touched" class="err">
  <p *ngIf="registrationForm.errors?.misMatch">Password Do not match</p> </div>
  <button (click)="registerUser()">Register</button>
  <button (click)="loginUser()">Login</button>
</form> -->
<!-- <button (click)="getMovies()">Movies</button> -->
<router-outlet></router-outlet>